---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/fetch@3.x.x/dist/cdn.min.js" defer></script>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/AIeval/" title="AI Evaluation">AI Evaluation</a></li>
    </ul>
  </nav>
    {{ content }}
</body>
</html>